@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Lexend:wght@100..900&family=Poppins:wght@300;400;500&family=Quicksand:wght@300..700&family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #0f101c;
  --secondary-color: #f55612;
  --Additional-color: #ffff;
  --font-family: "Poppins", sans-serif;
  --font-secondary: "Lexend", sans-serif;
  --gradient-color: linear-gradient(to right, #cc3d00, #fd370f, #f08c20);
}

html {
  scroll-behavior: smooth;
  scroll-padding: 4em;
}

body {
  background-color: var(--primary-color);
  color: var(--Additional-color);
  font-family: var(--font-family);
}

/* header */
.header {
  position: sticky;
  top: 0;
  width: 100%;
  margin-inline: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20em;
  padding-block: 1.5rem;
  z-index: 999;
}

.header .logo {
  font-size: 26px;
  font-family: "JetBrains Mono", monospace;
  margin-right: 1.5em;
}

.logo a {
  color: var(--Additional-color);
  text-decoration: none;
}

.logo span {
  background-image: linear-gradient(rgb(250, 227, 50), rgb(247, 62, 62), rgb(255, 180, 42));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.header .navigasi ul {
  display: flex;
}

.navigasi li {
  margin-right: 33px;
  letter-spacing: 2px;
  font-family: var(--font-secondary);
  list-style: none;
}

.navigasi a {
  position: relative;
  color: #e6e6e6a0;
  text-decoration: none;
  padding-block: 0.6em;
  padding-inline: 1em;
  transition: 0.3s ease-in-out;
}

.navigasi a:hover {
  color: var(--secondary-color);
}

.navigasi a::after {
  content: "";
  display: block;
  margin-top: 6px;
  position: relative;
}

.navigasi a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, #ff8a00, #e52e71);
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.2s ease-in-out;
}

.navigasi a:hover::after {
  transform: scaleX(0.5);
  transform-origin: center;
}
/* header */

/* jumbotron */
.jumbotron {
  width: 100%;
  max-width: 1500px;
  padding-block: 0;
  margin-inline: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-size: contain;
  background-repeat: no-repeat;
}

#jumbotron-decoration {
  width: 200px;
  position: absolute;
  top: 30%;
  z-index: -999;
}

.jumbotron .intro {
  flex: 1;
  width: 100px;
  margin: auto;
  padding: 4em;
}

.intro h1 {
  font-size: 45px;
  font-family: "Spline Sans Mono", monospace;
  margin-bottom: 15px;
}

.intro span {
  background: linear-gradient(to right, #fd370f, #f09819);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.intro .aboutMe {
  margin-top: 8px;
  font-size: 1.5rem;
  padding: 0.6rem 2rem;
  border: 3px solid #fd370f;
  background: none;
  color: #fd370f;
  border-radius: 10px;
  cursor: pointer;
}

.aboutMe:hover {
  background: linear-gradient(to left top, #fd370f, #fd370f, #f87e3c);
  color: #fff;
  background-position: center;
  border: 3px solid transparent;
  background-origin: border-box;
  border-radius: 10px;
}

.jumbotron .jumbotron-intro-image {
  flex: 1;
}

.jumbotron-intro-image img {
  width: 500px;
}

.jumbotron .sosmed {
  position: absolute;
  top: 40%;
  right: 0;
  padding-inline: 0;
  width: 45px;
  background: linear-gradient(#ff6726, #cc3d00);
  padding-block: 0.5em;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;

  -webkit-box-shadow: 0px 0px 183px 7px rgba(255, 103, 38, 0.91);
  -moz-box-shadow: 0px 0px 183px 7px rgba(255, 103, 38, 0.91);
  box-shadow: 0px 0px 183px 7px rgba(255, 103, 38, 0.91);
}

.sosmed li {
  list-style: none;
  text-align: center;
  padding: 8px 0;
}

.sosmed li .instagram,
.whatsapp,
.linkedin,
.github {
  width: 25px;
  height: 25px;
  background-image: url("../assets/socmed/instagram-outline.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  transition: background-image 0.211s ease-in;
}

.sosmed li .instagram:hover {
  background-image: url("../assets/socmed/instagram-fill.svg");
}

.whatsapp {
  background-image: url("../assets//socmed/whatsapp-outline.svg");
}

.whatsapp:hover {
  background-image: url("../assets/socmed/whatsapp-fill.svg");
}

.linkedin {
  background-image: url("../assets//socmed/linkedin-outline.svg");
}

.linkedin:hover {
  background-image: url("../assets/socmed/linkedin-fill.svg");
}

.github {
  background-image: url("../assets/socmed/github-outline.svg");
}

.github:hover {
  background-image: url("../assets/socmed/github-fill.svg");
}
/* jumbotron */

/* about */
#about {
  max-width: 1500px;
  padding-block: 0;
  margin-inline: auto;
  padding: 2rem 4em;
  width: 100%;
}

#about-decoration {
  position: absolute;
  right: 0;
  top: 180%;
  z-index: -1;
  width: 150px;
  transform: rotate(180deg);
}

.title h1 {
  font-family: "Spline Sans Mono", monospace;
  color: rgba(230, 230, 230, 0.12);
  font-size: 90px;
  text-align: right;
}

#about .titles,
#project .titles {
  color: #fff;
  font-size: 40px;
  margin: -60px 15.4rem 0 0;
  text-align: right;
}

.titles span {
  color: var(--secondary-color);
}

#about .about-display {
  display: flex;
}

#about .about-pict {
  flex-grow: 3;
  margin: -7em auto 0 0;
}

.about-pict img {
  width: 680px;
}

#about .about-desc {
  flex-grow: 1;
  width: 400px;
  position: relative;
  top: 0;
}

.about-desc-text {
  width: 450px;
  margin-top: 2em;
}

.about-desc-text p {
  font-size: 1.1em;
  color: #ffffff8f;
}
/* about */

/* skills */
#skills {
  max-width: 1500px;
  padding-block: 0;
  margin-inline: auto;
  padding: 4rem 4rem;
  width: 100%;
}

#skills h1,
#contact h1 {
  text-align: left;
}

#skills .titles,
#contact .titles {
  color: #fff;
  font-size: 40px;
  margin-top: -60px;
  margin-right: 20rem;
}

#skills .skills-card-display {
  display: flex;
  padding: 3rem 0;
  justify-content: center;
  gap: 15px;
  margin: 3rem auto;
}

.skills-card-display .skill {
  background: linear-gradient(to top, #171a34, #0f101c);
  padding: 1.2rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom-right-radius: 100px;
}

.first {
  flex: 1;
}

.second {
  flex: 1;
}

.card-skill-logo {
  width: 80px;
  margin: -3.5rem auto 10px;
}

.card-skill-logo img {
  width: 100%;
}

.skill h4 {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  position: relative;
  transform: translateX(15px);
}

.skill h4::before {
  content: "";
  width: 10px;
  height: 30px;
  position: absolute;
  top: 0;
  display: block;
  left: -15px;
  background: linear-gradient(to left top, #fd370f, #fd370f, #f87e3c);
}

.skill .card-skill-desc {
  max-height: 100px;
}

.card-skill-desc p {
  height: 100%;
  font-weight: 350;
  color: #ffffff8f;
}

.skill .card-skill-tool {
  width: 100%;
  height: 100%;
  padding: 10px 0;
}

.card-skill-tool img {
  transition: transform 0.25s ease-in-out;
}

.card-skill-tool img:hover {
  transform: translateY(-10px);
}

.skill .frontend {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.skill .design {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}
/* skills */

/* projects */
#project,
#contact {
  max-width: 1500px;
  padding-block: 0;
  width: 100%;
  margin-inline: auto;
  overflow: hidden;
  padding: 4rem 4rem;
  position: relative;
  background: radial-gradient(circle at bottom, #212441, transparent, #0f101c);
}

#project .titles {
  margin-right: 22.8rem;
}

#project .swiper {
  width: 100%;
}

.swiper-slide {
  padding: 3rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide .content-project {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding: 40px 0;
  max-width: 800px;
  width: 100%;

  border-radius: 24px 0 24px 0;
}

.content-project .project-img,
.content-project .desc {
  width: 700px;
  margin: auto;
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #f55612;
  visibility: hidden;
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: #f55612;
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

.desc {
  padding: 8px;
  max-height: 200px;
}

.desc .desc-project {
  color: #ffffff8f;
}

.link-project {
  margin-left: 3rem;
  text-decoration: none;
}

.link-project a {
  text-decoration: none;
  color: #fff;
  padding: 0.3rem 0.5rem;
}

.link-project a:hover {
  background: linear-gradient(to right, #ff8a00, #e62d0d);
  width: fit-content;
  border-radius: 999px;
}

.link-project svg {
  vertical-align: middle;
  margin-left: 6px;
}

.swiper-button-next,
.swiper-button-prev {
  color: #ffffff8f;
  padding: 4rem 1.2rem;
  transition: background 0.25s ease-in;
  border-radius: 20px 0 0 20px;
  margin-top: -2rem;
}

.swiper-button-prev:hover {
  color: var(--primary-color);
  background: #ffffff38;
  border-radius: 20px 0 0 20px;
}

.swiper-button-next:hover {
  color: var(--primary-color);
  background: #ffffff38;
  border-radius: 0 20px 20px 0;
}

.swiper-button-next {
  border-radius: 0 20px 20px 0;
}

.swiper-pagination-bullet {
  background: #ffffff8f;
}

.swiper-pagination-bullet-active {
  background: #ffffff8f;
  padding: 5px;
  transform: translateY(1px);
}

/* .projects-display button {
  width: 75px;
  height: 75px;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 120px;
  top: 200px;
  z-index: 100;
  background-image: url("../assets/next.svg");
  cursor: pointer;
}

.projects-display #undo-button {
  background-image: url("../assets/undo.svg");
  left: 120px;
} */
/* projects */

/* contact */
#contact {
  background: radial-gradient(circle at top, #212441, transparent, #0f101c);
}

#contact .titles {
  margin-right: 13.5rem;
}

#contact .contact-content {
  display: flex;
  margin: 5rem auto;
}

#contact-decoration {
  position: absolute;
  right: 0;
  width: 150px;
  bottom: -470%;
  transform: rotate(180deg);
}

.contact-content .contact-image {
  flex: 1;
}

.contact-image img {
  width: 500px;
}

.contact-content .contact-form {
  backdrop-filter: blur(20px);
  z-index: 1;
  flex: 1;
  border: 2px solid #ffffff8f;
  border-radius: 24px;
  width: 450px;
  display: flex;
  flex-direction: column;
}

.contact-form .wrapper {
  padding: 30px;
}

.wrapper .field {
  width: 100%;
  position: relative;
}

.wrapper .field input {
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  color: #ffffff8f;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  border-bottom: 2px solid #ffffff8f;
}

.field input:focus,
.field textarea:focus {
  outline: none;
}

.field input:focus ~ label,
.field input:valid ~ label {
  transform: translateY(-25px);
}

.wrapper .field label {
  position: absolute;
  bottom: 5px;
  left: 0;
  color: #ffffff8f;
  pointer-events: none;
  transition: all 0.3s ease;
}

.wrapper .field .textarea {
  width: 100%;
  resize: none;
  height: 200px;
  font-size: 1rem;
  border: 2px solid #ffffff8f;
  background-color: transparent;
  color: #ffffff8f;
  padding: 8px;
  z-index: 1;
  position: relative;
  font-family: var(--font-family);
  background-clip: padding-box;
  border-radius: 12px;
}

.field .textarea::placeholder {
  font-family: var(--font-family);
}

.wrapper .field .button {
  --border-width: 2px;
  --border-radius: 999px;
  margin-top: 20px;
  background: var(--gradient-color);
  border: 0;
  padding-inline: 0.5rem;
  height: 2.5rem;
  color: #ffffff8f;
  border: 0;
  cursor: pointer;
  z-index: 1;
  border-radius: var(--border-radius);
  position: relative;
  z-index: 1;
  transition: transform 0.245s ease;
  transform: scale(1);
}

.wrapper .field .button::before {
  content: "";
  display: block;
  height: calc(100% - calc(var(--border-width) * 2));
  width: calc(100% - calc(var(--border-width) * 2));
  background: var(--primary-color);
  position: absolute;
  top: var(--border-width);
  left: var(--border-width);
  z-index: -1;
  border-radius: calc(var(--border-radius) - var(--border-width));
}

.field .button .button-span {
  padding-inline: 0.5rem;
  font-family: var(--font-secondary);
  font-size: 12px;
  padding-block: 0.35rem;
  font-weight: 300;
  letter-spacing: 1px;
  background: var(--gradient-color);
  border-radius: 999px;
  transition: 0.245s ease;
}

.field .button:active {
  transform: scale(0.95);
}

.field .button .button-span:hover {
  color: #fff;
}

.wrapper .field .underline {
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}

.field .underline::before {
  content: "";
  background: linear-gradient(90deg, #f94b00, #ffb361), linear-gradient(-90deg, #f94b00, #ffb361);
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.field input:focus ~ .underline::before,
.field input:valid ~ .underline::before {
  transform: scaleX(1);
}

/* contact */
